<!-- Information about site  -->
<div class="container-fluid container-fluid-custom-1">
  <div class="container">
    <div class="row text-white pt-3 pb-3">
      <div class="col">
        <h5 class="margin">MAIN LINKS</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Airplane</a></li>
          <li><a href="#">Gaurantee Travel</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="margin">CONTACT US</h5>
        <ul>
        <li><a href="#">lik 1</a></li>
        <li><a href="#">link2</a></li>
        <li><a href="#">www.air.com</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="margin">OUR PARTNERS</h5>
        <ul>
        <li><a href="#">Go Air</a></li>
        <li><a href="#">JetAirways</a></li>
        <li><a href="#">Air India</a></li>
        <li><a href="#">Air Lufthansa</a></li>
        <li><a href="#">Spice Jet</a></li>
        <li><a href="#">Areoflot</a></li>
        <li><a href="#">Air France</a></li>
        </ul>
      </div>
      <div class="col">
        <h5 class="margin">COMPANY</h5>
        <ul>
        <li><a href="#">Go Air</a></li>
        <li><a href="#">JetAirways</a></li>
        <li><a href="#">Air India</a></li>
        <li><a href="#">Air Lufthansa</a></li>
        <li><a href="#">Spice Jet</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
  <!-- End -->