 <!-- Recommendations and Offers -->
 <div class="container recommends">
  <h4 class="mt-3 text-mute">Recommendations for you</h4>
  <div class="row">
    <div class="col image-left">
      <img src="../assets/images/Singapore.jpg" alt="pic" class="mt-3" width="350" height="250">
      <div class="price-details"><h5 class="text-white image-left-1">Singapore</h5>
      <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a> 
    </div>
  </div>
    <div class="col image-center">
      <img src="../assets/images/berlin.jpg" alt="pic" class="mt-3" width="350" height="250">
      <div class="price-details"><h5 class="text-white image-center-1">Berlin</h5>
      <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a> 
    </div>
  </div>
    <div class="col image-right">
      <img src="../assets/images/Newyork.jpg" alt="pic" class="mt-3" width="350" height="250">
      <div class="price-details"> <h5 class="text-white image-right-1">Newyork</h5>
      <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a> 
    </div>
    </div>
  </div>
</div>
<!-- End -->
<!-- Deals -->
<div class="container mb-3 deals">
  <h4 class="mt-3 text-mute">Deals</h4>
  <div class="row">
    <div class="col deal-left">
      <img src="../assets/images/singapore-sentosa.jpg" alt="pic" class="mt-3" width="350" height="250">
      <div class="price-details">
        <h5 class="text-white deal-left-1">Singapore sentosa</h5>
        <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a>
      </div> 
  </div>
  <div class="col deal-center">
    <img src="../assets/images/denmark.jpg" alt="pic" class="mt-3" width="350" height="250">
    <div class="price-details"><h5 class="text-white deal-center-1">Denmark</h5>
    <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a> 
  </div>
</div>
  <div class="col deal-right">
    <img src="../assets/images/West Coast Park.jpg" alt="pic" class="mt-3" width="350" height="250">
    <div class="price-details"><h5 class="text-white deal-right-1">West Coast Park</h5>
    <a href="#" class="text-white">Price details <i class="fa fa-angle-double-right" style="font-size:16px"></i></a> 
  </div>
</div>
  </div>
</div>
<!-- End -->