<!-- International Informations  -->
<div class="container container-custom">
  <h4 class="mt-3 text-mute h4-custom">International Sites</h4>
  <div class="row">
    <div class="col">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Airplane</a></li>
          <li><a href="#">Gaurantee Travel</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
        <li><a href="#">lik 1</a></li>
        <li><a href="#">link2</a></li>
        <li><a href="#">www.air.com</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
        <li><a href="#">Go Air</a></li>
        <li><a href="#">JetAirways</a></li>
        <li><a href="#">Air India</a></li>
        <li><a href="#">Air Lufthansa</a></li>
        <li><a href="#">Spice Jet</a></li>
        <li><a href="#">Areoflot</a></li>
        <li><a href="#">Air France</a></li>
        </ul>
      </div>
      <div class="col">
        <ul>
          <li><a href="#">Go Air</a></li>
          <li><a href="#">JetAirways</a></li>
          <li><a href="#">Air India</a></li>
          <li><a href="#">Air Lufthansa</a></li>
          <li><a href="#">Spice Jet</a></li>
        </ul>
      </div>
    </div>
    <div class="sepe-line"></div>
    
  </div>
<!-- End -->