<!-- Navigation bar -->
<div class="container">
  <nav class="navbar navbar-expand-sm mt-0 justify-content-between custom-navbar">
    <a class="navbar-brand" href="#"><h2><strong>My</strong> <span>F</span>light</h2></a>
    <ul class="navbar-nav">
      <li class="nav-item"><a href="#"><span class=" nav-link text-white mr-1">Home</span></a></li>
      <li class="nav-item"><a href="#"><span class=" nav-link text-white mr-1">About Us</span></a></li>
      <li class="nav-item"><a href="#"><span class=" nav-link text-white mr-1">Tickets</span></a></li>
      <li class="nav-item"><a href="#"><span class=" nav-link text-white mr-1"> Multicity</span></a></li>
      <li class="nav-item"><a href="#"><span class=" nav-link text-white mr-1"> Airlines</span></a></li>
      <li class="nav-item mr-2"><a href="#"><span class=" nav-link text-white mr-1"> Contact Us</span></a></li>
      <li class="nav-item rounded-circle social-rounded">
        <a href="#"><span class="nav-link"><i class="fa fa-facebook"></i></span></a>
      </li>
        <li class="nav-item ml-1 rounded-circle social-rounded">
          <a href="#"><span class="nav-link"><i class="fa fa-twitter"></i></span></a>
        </li>
    </ul>
  </nav>  
</div>

<!-- End -->